
@font-face {
  font-family: 'happytimes_regular';
  src: url('../fonts/happy-times-NG_regular_master.otf');
}

@font-face {
  font-family: 'happytimes_bold';
  src: url('../fonts/happy-times-NG_bold_master.otf');
}

@font-face {
  font-family: 'happytime_italics';
  src: url('../fonts/happy-times-NG_italic_master.otf');
}


/* *,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
} */

/* *,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
:root {
  --main-dark-grey: #212121;
  --main-yellow: #E0F391;
  /* --grey: #313131; */
}

section,h2 {
  margin:0;
  padding:0;
  }
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'happytimes_regular', Helvetica, sans-serif;
  /* box-sizing: border-box; */
    background-color: var(--main-yellow);

}



html {
  scroll-behavior: smooth;
}

/*------------ Nav bar ------------*/

nav {  
  background-color: var(--main-yellow);
  height:10vh;

}

.nav-list  {
  margin-right: 5%;
  margin-top:1vw;
  float:right;

}

.nav-list-link1,.nav-list-link2 {
  display: inline-block;
  padding-left: 8vw;

}

/* .nav-list a {
  text-decoration: none;
  padding-left: 10vw;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
} */

nav a:hover {
  color: #000;;
}

.nav-list a{

  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
 

    /* letter-spacing: 0.15em; */
    
    display: inline-block;
    position: relative;
  }

.nav-list a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.nav-list a:hover:after { 
    width: 100%; 
    left: 0; 
  
}


/* nav ul li a:before {
  content: "";
  position: absolute;
  top: 19px;
  width: 0px;
  height: 1px;
  background: var(--main-dark-grey);
  left: 50%;
  transition: all 0.5s;
}

nav ul li a:hover:before {
  width: 100%;
  left: 0;
  transform: translateY(4px);
  background: var(--main-yellow);
} */

/*------------ About section ------------*/

#welcome-section {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: var(--main-yellow);
}

#welcome-section > h1 {
  color: #000;  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
    font-size: 25vw;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 6vw;

  cursor: default;
  text-align: justify;

}

#welcome-section > p {
  font-family: 'happytime_italics', sans-serif;
  font-size: 7vw;
  text-transform: uppercase;
  cursor: default;
  letter-spacing: 4vw;
  /* padding-left: 4vw; */

  position: absolute;
}



.collerton {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.collerton .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 3vw;
  padding-left: 0.7vw;
  overflow: hidden;
}

.collerton .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
/*------------ CV and links section ------------*/


.reference-links {  
  display: grid;
  grid-template-columns: 50vw 50vw;
  width: 100%;
  background-color: #fff;
  height:55vh;
  padding-right:1%;
  padding-top:2vh;
  padding-bottom:2vh;

}


.reference-links ul {
 
  align-self: end;
  padding-right: 7% ;
    padding-top:18vh;
    justify-self: end;
    /* padding-bottom:20vh; */



  

}
.reference-links ul li  {
list-style-type: none;
line-height: 4vh;


}
.reference-links ul li a {
  text-decoration: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

.reference-links a:hover {
  color: #000;;
}

#cv-link{
  /* padding-bottom:2vh; */
  padding-left: 7%;
  /* padding-top:20vh; */
  align-self: end;
  padding-bottom: 2vh;
  line-height: 4vh;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}
.reference-links a{

  /* text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  color: #000; */
 
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    /* letter-spacing: 0.15em; */
    
    display: inline-block;
    position: relative;
  }
.reference-links a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    background: var(--main-yellow);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.reference-links a:hover:after { 
    width: 100%; 
    left: 0; 
  
}


/*------------ Info section ------------*/
#info {
  background-color: #000;
  width:100%;
  height: 60vh;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 400;
  padding-top:10vh;
}

.stylized-basic{
  display: inline;
  font-size: 3.3vw;
  letter-spacing: 0.45vw;
  color:var(--main-yellow);
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  margin:0;
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}
 #stylized-info,#stylized-info1 {
  display: inline;
  font-size: 3.3vw;
  letter-spacing: 0.37vw;
  color: #FFF;
  font-family: 'happytime_italics', sans-serif  !important;
  text-transform: uppercase;
  margin:0;
 


}

.stylized-basic a{
  text-decoration: none;
  font-size: 3.3vw;
  letter-spacing: 0.45vw;
  color:var(--main-yellow);
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;

    text-transform: uppercase;
    text-decoration: none;
    /* letter-spacing: 0.15em; */
    
    display: inline-block;
    padding:  2px;
    }
.stylized-basic a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    
    background: var(--main-yellow);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
   width:0;
  }
.stylized-basic a:hover:after { 
    width: 100%; 
    left: 0; 
  
}



/*------------ Info Extended ------------*/



#brands {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat';
  font-style: normal;
padding-top:5vh;
  

  padding-bottom: 5vh;

}
#brand-text {
padding-bottom: 10vh;
text-transform: uppercase;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}
/*------------ Brands ------------*/
.brand-image{
  margin-top:5vh;
  margin-bottom: 5vh;
  text-align: center;
}

/* img{

  height:auto;
  width: 90vw;    

} */

.images-wrapper {
	/* max-width : 90vw; */
	display : flex;
	justify-content : space-between;
  align-items: center;
  padding-left:3%;
  padding-right: 3%;
  padding-bottom:3%;
}

  .images-wrapper img {
    margin-left: 2%;

    width:11vw;
  }

/*------------ Showreel ------------*/
#showreel {
  background-color: #fff;
  padding:10%;


}
#showreel img{
  display: flex;
  justify-content: center;
  align-items: center;

  height:auto;
  width:100%;    
}

#portfolio-text {
  background-color: #fff;
  height: 20vh;
  padding-right: 1vw;
  text-align: right;
  text-transform: uppercase;
  padding-top: 8vh;;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;


}

/*------------ COntacts ------------*/
#contacts {
  background-color: var(--main-yellow);
  height: 80vh;
  text-transform: uppercase;
  color:#000;

  
  
  

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

#contacts p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}


 
#contacts a{
  text-decoration: none;
  font-size: 4vw;
  color: #000;
  font-family: 'happytime_italics', sans-serif;
  text-transform: uppercase;


    text-transform: uppercase;
    text-decoration: none;
    /* letter-spacing: 0.15em; */
    
    display: inline-block;
    padding:  2px;
  }
  #contacts a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  #contacts a:hover:after { 
    width: 100%; 
    left: 0; 
  
}

#contacts p{
max-width: 100%;
margin-bottom: 12px;
margin-left:1vw;

align-self: flex-start;


}
/*------------ Footer ------------*/

footer {
  display: flex !important;
  justify-content: space-between;
  padding: 1vw;
  margin-bottom: 2vh;
  text-transform: uppercase;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}

footer a{
  text-decoration: none;
 
  color: #000;
}

footer a:hover{
  text-decoration: none;
 
  color: #000;
}
/*------------- Mobile version --------------*/

  
  @media screen and (max-width: 767px) {
    #info {
      display: block;
      background-color: #000;
      width:100%;
      height: 100vh;
      padding-left: 3%;
      padding-right: 3%;
      font-weight: 400;
      padding-top:10vh;
    }
    
    .stylized-basic{
      display: inline;
      font-size: 8vw;
      letter-spacing: 0.45vw;
      color:var(--main-yellow);
      font-family: 'Montserrat';
      font-weight: 600;
      text-transform: uppercase;
      margin:0;
      margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      
    }
     #stylized-info,#stylized-info1 {
      display: inline;
      font-size: 8vw;
      letter-spacing: 0.37vw;
      color: #FFF;
      font-family: 'happytime_italics', sans-serif  !important;
      text-transform: uppercase;
      margin:0;
     
    
    
    }
    
    .stylized-basic a{
      text-decoration: none;
      font-size: 8vw;
      letter-spacing: 0.45vw;
      color:var(--main-yellow);
      font-family: 'Montserrat';
      font-weight: 600;
      text-transform: uppercase;
    
        text-transform: uppercase;
        text-decoration: none;
        /* letter-spacing: 0.15em; */
        
        display: inline-block;
        padding:  2px;
        }
    .stylized-basic a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 0;
        
        background: var(--main-yellow);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
       width:0;
      }
    .stylized-basic a:hover:after { 
        width: 100%; 
        left: 0; 
      
    }
    
    
    
   
   
    #info-extended {
    
    
      width: 100%;
      background-color: #000;
      color: #fff;
      font-family: 'Montserrat';
      font-size: 1.65rem;
      line-height: 3.3rem;
      font-style: normal;

    

      padding-bottom: 15vh;
      padding-left: 4vw;
    
      padding-right: 4vw;

    }

    .nav-list-link1,.nav-list-link2 {
      display: block;
      padding-left: 8vw;
    
    }

    .images-wrapper {
      /* width : 100%;
      height : 100%; */
      display : flex;
      flex-direction: column;
      margin-left:30%;
      margin-right: 30%;
      justify-content:space-between;
    }

    .images-wrapper img {
      width:100%;
      height: auto;
      margin-bottom: 60%;

    }
    #brands {
      padding-bottom: 1vh;
    }

   

    footer {
      font-size: 1rem;
    }
    
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){



}

/* Medium devices (landscape tablets, 768px and up) */


/* Large devices (laptops/desktops, 992px and up) */
@media  screen and (min-width: 768px) {
  #info-extended {
    display: grid;
    grid-template-columns: 50vw 50vw;
  
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.65rem;
    line-height: 3.3rem;
    font-style: normal;
    padding-top:20vh;
   
  
    padding-bottom: 15vh;
  
  }
  .info-extended-col1 {
    display: grid;
    
   padding-left: 16vw;
   padding-right: 4vw;
  
  
  }
  
  
  
  .info-extended-col2 {
    display: grid;
  
   padding-right: 18vw;
  
  
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}