
@font-face {
  font-family: 'happytimes_regular';
  src: url('../fonts/happy-times-NG_regular_master.otf');
}

@font-face {
  font-family: 'happytimes_bold';
  src: url('../fonts/happy-times-NG_bold_master.otf');
}

@font-face {
  font-family: 'happytime_italics';
  src: url('../fonts/happy-times-NG_italic_master.otf');
}




*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'happytimes_regular', Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.menu-icon {
  position: fixed; 
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 1rem;
  background-color: #F8F8F8;
  color:#000;
  height: 10vh;
  
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
  font-family: "happytimes_regular";
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #F8F8F8;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #F8F8F8;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #F8F8F8;
}

.sidenav__list-item:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.main {
  grid-area: main;
  background-color: #fff;
}

.main-intro {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 90vh;
  background-color: #fff;
  align-items: center ;

}
.main-intro_text{
  flex:3;
  padding: 20px;

}
.main-intro_image{
    flex:1;
    padding: 40px;
    

}

.main-intro_text p {
  font-family: 'anderson_ultrabold';
  color: #000;
  font-size: 2.7vw;
}

.main-intro_image img {
  max-width: 100%;
  height: auto; 
}

.main-deliver {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  flex: 1 100%;
  background-color: #f8f8f8;
  color: #000;
}
.main-deliver > * {
  padding: 10px;
  flex: 1 100%;
}
.main-deliver_header p{
  text-align: center;
  text-transform: uppercase;
  font-family: 'anderson_bold';
  font-size: 1.2vw;
}

.main-deliver_research {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  padding-top:10vw;

}

.main-deliver_research h1{
  width: 100%;
  font-family: 'anderson_ultrabold';
  font-size: 2.5vw;
  padding-bottom: 5vh;

}
.main-deliver_research p{
  width: 50%;
  font-family: 'anderson_light';
  font-size: 1.4vw;


}
.main-deliver_research img{
  padding-right:20vw;
  max-width: 100%;
  height: auto;
}


.main-deliver_design {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  padding-top:10vw;

}

.main-deliver_design h1{
  width: 100%;
  font-family: 'anderson_ultrabold';
  font-size: 2.5vw;
  padding-bottom: 5vh;
}
.main-deliver_design p{
  width: 50%;
  font-family: 'anderson_light';
  font-size: 1.4vw;


}
.main-deliver_design img{
  padding-left:5%;
  max-width: 100%;
  height: auto;
}


.main-deliver_service {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  padding-top:10vw;


}

.main-deliver_service h1{
  width: 100%;
  font-family: 'anderson_ultrabold';
  font-size: 2.5vw;
  padding-bottom: 5vh;

}
.main-deliver_service p{
  width: 50%;
  font-family: 'anderson_light';
  font-size: 1.4vw;


}
.main-deliver_service img{
  padding-right:20vw;
  max-width: 100%;
  height: auto;
}

.main-deliver {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  flex: 1 100%;
  background-color: #f8f8f8;
  color: #000;
}
.main-deliver > * {
  padding: 10px;
  flex: 1 100%;
}
.main-deliver_header p{
  text-align: center;
  text-transform: uppercase;
  font-family: 'anderson_bold';
  font-size: 1.2vw;
}

.main-deliver_research {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  padding-top:10vw;

}

.main-people {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  flex: 1 100%;
  color: #000;
}
.main-people > * {
  padding: 10px;
  flex: 1 100%;
}
.main-people_header p{
  text-align: center;
  text-transform: uppercase;
  font-family: 'anderson_bold';
  font-size: 1.2vw;
}

.main-people_desc {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  padding-top:5vw;

}
.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  16px;
  background-color: #000;
}

  /* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  /* .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  } */
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
 
}

/* .main-cards {
    column-count: 2;
  } */